body {
	padding-top:75px;
}

.gt-table-musiclist.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	height: 24px;
	padding: 0px 8px;
	vertical-align: middle;
}

.gt-table-musiclist .form-control {
	height: 20px;
	padding: 0px 6px;
}

.gt-table-musiclist .btn {
	padding: 0px 6px;
	width: 120px;
}

.gt-nowrap {
	white-space: nowrap;
}

.gt-scoreinput {
	text-align: right;
	width: 64px;
}

.gt-difficultylabel {
	font-size: 80%;
	width: 100px;
}

.gt-difficultylabel-small {
	width: 24px;
}

.gt-difficultylabel-normal {
	background-color: #05C;
}

.gt-difficultylabel-hyper {
	background-color: #CA0;
}

.gt-difficultylabel-another {
	background-color: #C00;
}