folder-color(c1, c2, cd, cb)
  background linear-gradient(to bottom, c1 0%, c2 100%)
  background-color cd
  border-color cb

bg-vertical-linear-gradient(c1, c2, cd)
  background linear-gradient(to bottom, c1 0%, c2 100%)
  background-color cd

body
  padding-top 75px

// Prefix for original class
.gt-
  &table-musiclist
    thead > tr > th, tbody > tr > td
      height 24px
      padding 0px 8px
      vertical-align middle
    .form-control
      height 20px
      padding 0px 6px
    .btn
      padding 0px 6px
    .form-group
      margin-bottom 0px
  &nowrap
    white-space nowrap
  &scoreinput
    text-align right
    width 64px
  &difficultylabel
    font-size: 80%;
    width: 100px;
    &-small
      width 24px
    &-normal
      background-color #05C
    &-hyper
      background-color #B90
    &-another
      background-color #C00
  &menu
    &-fullcombo
      //-webkit-animation animation-menu-fullcombo 0.5s ease 0s infinite normal //TODO: prefix
      background-color #CCF
      background-image none
    &-exhard
      //-webkit-animation animation-menu-exhard 0.5s ease 0s infinite normal
      background-color #FF7
      background-image none
    &-hard
      background-color #FFF
    &-clear
      background-color #CCF
    &-easy
      background-color #CFC
    &-assist
      background-color #FCF
    &-failed
      background-color #FCC
    &-noplay
      background-color #DDD
  &btn-clearlamp
    height 20px
    width 32px
    background-image none
    &-fullcombo, &-fullcombo:active, &-fullcombo:hover, &-fullcombo:focus
      //-webkit-animation animation-lamp-fullcombo 0.5s ease 0s infinite normal //TODO: prefix
      //background-image url(anim.gif)
      background-color #DDF
    &-exhard, &-exhard:active, &-exhard:hover, &-exhard:focus
      //-webkit-animation animation-lamp-exhard 0.5s ease 0s infinite normal
      //background-image url(anim.gif)
      background-color #FF8
    &-hard, &-hard:active, &-hard:hover, &-hard:focus
      background-color #FFF
    &-clear, &-clear:active, &-clear:hover, &-clear:focus
      background-color #88F
    &-easy, &-easy:active, &-easy:hover, &-easy:focus
      background-color #8F8
    &-assist, &-assist:active, &-assist:hover, &-assist:focus
      background-color #F8F
    &-failed, &-failed:active, &-failed:hover, &-failed:focus
      background-color #F88
    &-noplay, &-noplay:active, &-noplay:hover, &-noplay:focus
      background-color #AAA
  &progress-bar
    &-fullcombo
      //-webkit-animation animation-progress-fullcombo 0.5s ease 0s infinite normal
      //background-image url(anim.gif)
      bg-vertical-linear-gradient #CCF #DDF #DDF
    &-exhard
      //-webkit-animation animation-progress-exhard 0.5s ease 0s infinite normal
      //background-image url(anim.gif)
      bg-vertical-linear-gradient #EE3 #DD2 #EE3
    &-hard
      bg-vertical-linear-gradient #EEE #DDD #EEE
    &-clear
      bg-vertical-linear-gradient #38F #27E #38F
    &-easy
      bg-vertical-linear-gradient #2F4 #1E3 #2F4
    &-assist
      bg-vertical-linear-gradient #F3F #E2E #F3F
    &-failed
      bg-vertical-linear-gradient #D22 #C11 #D22
    &-noplay
      background-color transparent
      background-image none
  #musiclist-container > &folderpanel
    &-version
      folder-color #DFF #BDF #CEF #ACF

@-webkit-keyframes animation-menu-fullcombo
  0%
    background-color: #FFF
  25%
    background-color: #FDD
  50%
    background-color: #FFD
  75%
    background-color: #DDF
  100%
    background-color: #FFF

@-webkit-keyframes animation-lamp-fullcombo
  0%
    background-color: #FFF
  25%
    background-color: #FCC
  50%
    background-color: #FFC
  75%
    background-color: #CCF
  100%
    background-color: #FFF

@-webkit-keyframes animation-progress-fullcombo
  0%
    background-color: #FFF
  25%
    background-color: #FCC
  50%
    background-color: #FFC
  75%
    background-color: #CCF
  100%
    background-color: #FFF

@-webkit-keyframes animation-menu-exhard
  0%
    background-color: #FDD
  33%
    background-color: #FFD
  67%
    background-color: #DDF
  100%
    background-color: #FDD

@-webkit-keyframes animation-lamp-exhard
  0%
    background-color: #FCC
  33%
    background-color: #FFC
  67%
    background-color: #CCF
  100%
    background-color: #FCC

@-webkit-keyframes animation-progress-exhard
  0%
    background-color: #FCC
  33%
    background-color: #FFC
  67%
    background-color: #CCF
  100%
    background-color: #FCC